<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xb.persistent.mapper.TblUser2groupMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 UGMB_MBID AS userId, UGMB_UGID AS groupId
	</sql>


	<resultMap id="getUserListByIdListResultMap" type="com.xb.persistent.TblUser">
	  <result property="id" column="id"/>
	  <result property="name" column="name"/>
	</resultMap>
	
	<select id="getUserListByIdList"  parameterType="java.util.List" resultMap="getUserListByIdListResultMap">
select USERS_ID as id, USERS_NAME as name from USERS

where USERS_ID in
<foreach collection="useridList" index="index" item="userid" open="("
    separator="," close=")">
  #{userid}
  </foreach>
</select>

<resultMap id="getGroupListWithUsersByIdListResultMap" type="com.xb.persistent.TblUser">
	  <result property="id" column="ID"/>
	  <result property="name" column="NAME"/>
	  <result property="groupId" column="GROUP_ID"/>
	  <result property="groupName" column="GROUP_NAME"/>
	</resultMap>
	
	<select id="getGroupListWithUsersByIdList"  parameterType="java.util.List" resultMap="getGroupListWithUsersByIdListResultMap">
select u.USERS_ID as ID, u.USERS_NAME as NAME, g.UG_UGID as GROUP_ID,g.UG_UGNAME as GROUP_NAME
from USERS u, UGMB ug, UG g
where u.USERS_ID=ug.UGMB_MBID and ug.UGMB_UGID=g.UG_UGID
and ug.UGMB_UGID in
<foreach collection="groupidList" index="index" item="groupid" open="("
    separator="," close=")">
  #{groupid}
  </foreach>
</select>

	<select id="getGroupListWithUsersAll"  resultMap="getGroupListWithUsersByIdListResultMap">
select u.USERS_ID as ID, u.USERS_NAME as NAME, g.UG_UGID as GROUP_ID,g.UG_UGNAME as GROUP_NAME
from USERS u, UGMB ug, UG g
where u.USERS_ID=ug.UGMB_MBID and ug.UGMB_UGID=g.UG_UGID
</select>
	<select id="getGroupListWithWithoutUsersAll"  resultMap="getGroupListWithUsersByIdListResultMap">
select u.USERS_ID as ID, u.USERS_NAME as NAME, g.UG_UGID as GROUP_ID,g.UG_UGNAME as GROUP_NAME
from UG g
left join UGMB ug on ug.UGMB_UGID=g.UG_UGID
left join USERS u on u.USERS_ID=ug.UGMB_MBID 
</select>

	<select id="getUsersInSpecGroup"  resultMap="getGroupListWithUsersByIdListResultMap">
select u.USERS_ID as ID, u.USERS_NAME as NAME, g.UG_UGID as GROUP_ID,g.UG_UGNAME as GROUP_NAME
from USERS u, UGMB ug, UG g
where u.USERS_ID=ug.UGMB_MBID and ug.UGMB_UGID=g.UG_UGID
and ug.UGMB_UGID=#{groupId}
</select>

	<select id="getAddableUsers"  resultMap="getGroupListWithUsersByIdListResultMap">
select u.USERS_ID as ID, u.USERS_NAME as NAME, g.UG_UGID as GROUP_ID,g.UG_UGNAME as GROUP_NAME
from USERS u
left join UGMB ug on ug.UGMB_MBID=u.USERS_ID 
left join UG g on g.UG_UGID=ug.UGMB_UGID
where u.USERS_ID not in( select ug1.UGMB_MBID from UGMB ug1 where ug1.UGMB_UGID=#{groupId})
</select>


</mapper>