<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xb.persistent.mapper.TblUserMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		USERS_ID as id, USERS_NAME as name
	</sql>

</mapper>