<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xb.persistent.mapper.WfTaskMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 TASK_ID AS taskId, WF_ID AS wfId, TASK_PG_ID AS taskPgId, TASK_TYPE AS taskType, TASK_DESCP AS taskDescp, POS_TOP AS posTop, POS_LEFT AS posLeft, ASSIGN_USERS AS assignUsers, ASSIGN_GROUPS AS assignGroups, CREATED_BY AS createdBy, CREATED_DT AS createdDt, UPDATED_BY AS updatedBy, UPDATED_DT AS updatedDt, TX_CODE AS txCode, TX_TYPE AS txType, BUZ_STATUS AS buzStatus, TIME_LIMIT AS timeLimit, TIME_LIMIT_TP AS timeLimitTp, ALARM_TIME AS alarmTime, ALARM_TIME_TP AS alarmTimeTp, MODULE_ID AS moduleId, Run_Param AS runParam, TASK_DESCP_DISP AS taskDescpDisp, TX_CHOICES AS txChoices, TX_PR_CHOICES AS txPrChoices, TX_BK_CHOICES AS txBkChoices, SIGN_CHOICES AS signChoices
	</sql>

	<resultMap id="getTaskListWithStatusResultMap" type="com.xb.persistent.WfTask">
	  <result property="taskId" column="task_id"/>
	  <result property="wfId" column="wf_id"/>
	  <result property="taskPgId" column="task_pg_id"/>
	  <result property="taskType" column="task_type"/>
	  <result property="taskDescp" column="task_descp"/>
	  <result property="posTop" column="pos_top"/>
	  <result property="posLeft" column="pos_left"/>
	  <result property="assignUsers" column="assign_users"/>
	  <result property="taskDescpDisp" column="task_descp_disp"/>
	  
	  <result property="txCode" column="tx_code"/>
	  <result property="txType" column="tx_type"/>
	  <result property="buzStatus" column="buz_status"/>
	  <result property="timeLimit" column="time_limit"/>
	  <result property="timeLimitTp" column="time_limit_tp"/>
	  <result property="alarmTime" column="alarm_time"/>
	  <result property="alarmTimeTp" column="alarm_time_tp"/>
	  <result property="moduleId" column="module_id"/>
	  <result property="runParam" column="run_param"/>
	  <result property="txChoices" column="tx_choices"/>
	  <result property="txPrChoices" column="tx_pr_choices"/>
	  <result property="txBkChoices" column="tx_bk_choices"/>
	  <result property="signChoices" column="sign_choices"/>
	  
	  <result property="processedFlag" column="proc_flag"/>
	  <result property="currTaskId" column="curr_task_id"/>
	</resultMap>
	
	<select id="getTaskListWithStatus"  resultMap="getTaskListWithStatusResultMap">
select distinct task.*, 
case when hist.task_id is not null then 'Y' else '' end as proc_flag,
awt.TASK_ID_CURR as CURR_TASK_ID
from wf_task task
left join wf_inst_hist hist on hist.TASK_ID= task.TASK_ID and hist.INST_ID = #{instId}
left join wf_awt awt on awt.TASK_ID_CURR=task.task_id and (COMPLETE_FLAG is null or COMPLETE_FLAG='N') and awt.inst_id=#{instId} 
join wf_instance inst on inst.WF_ID=task.WF_ID and inst.INST_ID=#{instId} 
</select>


	
</mapper>