<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xb.persistent.mapper.WfTaskConnMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 CONN_ID AS connId, WF_ID AS wfId, SOURCE_TASK_ID AS sourceTaskId, TARGET_TASK_ID AS targetTaskId, CONN_VAL AS connVal, CONN_DESCP AS connDescp, CREATED_BY AS createdBy, CREATED_DT AS createdDt, UPDATED_BY AS updatedBy, UPDATED_DT AS updatedDt
	</sql>

</mapper>