<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xb.persistent.mapper.WfTaskMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 TASK_ID AS taskId, WF_ID AS wfId, TASK_PG_ID AS taskPgId, TASK_TYPE AS taskType, TASK_DESCP AS taskDescp, POS_TOP AS posTop, POS_LEFT AS posLeft, ASSIGN_USERS AS assignUsers, ASSIGN_GROUPS AS assignGroups, CREATED_BY AS createdBy, CREATED_DT AS createdDt, UPDATED_BY AS updatedBy, UPDATED_DT AS updatedDt
	</sql>

	<resultMap id="taskInboxResultMap" type="com.xb.vo.TaskVO">
	  <result property="instHist.histId" column="hist_id"/>
	  <result property="instHist.instId" column="inst_id"/>
	  <result property="instHist.wfId" column="wf_id"/>
	  <result property="instHist.optUser" column="opt_user"/>
	  <result property="instHist.optType" column="opt_type"/>
	  <result property="instHist.optSeq" column="opt_seq"/>
	  <result property="instHist.nextAssigner" column="next_assigner"/>
	  <result property="instHist.STATUS" column="status"/>
	  <result property="instHist.createdDt" column="created_dt"/>
	  
	  <result property="task.taskPgId" column="task_pg_id"/>
	  <result property="task.taskType" column="task_type"/>
	  <result property="task.assignUsers" column="assign_users"/>
	  <result property="task.assignGroups" column="assign_groups"/>
	  <result property="task.taskDescp" column="task_descp"/>
	</resultMap>
	
	<select id="getTasksInbox"  resultMap="taskInboxResultMap">
select hist.hist_id,hist.inst_id, hist.wf_id, hist.opt_user, hist.opt_type,
hist.opt_seq, hist.next_assigner, hist.status, hist.created_dt,
task.task_pg_id, task.task_type, task.task_descp, task.assign_users, task.assign_groups
from WF_INST_HIST hist, WF_TASK task
  where hist.TASK_ID = task.TASK_ID
  and hist.status='I' and (hist.next_assigner is null or hist.next_assigner=#{userId})
</select>

	<resultMap id="getTaskListWithStatusResultMap" type="com.xb.persistent.WfTask">
	  <result property="taskId" column="task_id"/>
	  <result property="wfId" column="wf_id"/>
	  <result property="taskPgId" column="task_pg_id"/>
	  <result property="taskType" column="task_type"/>
	  <result property="taskDescp" column="task_descp"/>
	  <result property="posTop" column="pos_top"/>
	  <result property="posLeft" column="pos_left"/>
	  <result property="assignUsers" column="assign_users"/>
	  
	  <result property="processedFlag" column="proc_flag"/>
	  <result property="currTaskId" column="curr_task_id"/>
	</resultMap>
	
	<select id="getTaskListWithStatus"  resultMap="getTaskListWithStatusResultMap">
select task.*,
his.proc_flag,inst.CURR_TASK_ID
from WF_TASK task
join WF_INSTANCE ins on task.WF_ID = ins.wf_id and ins.inst_id=#{instId}
left join (select distinct TASK_ID,'Y' as proc_flag from WF_INST_HIST hist where hist.INST_ID=#{instId}) his 
on his.task_id = task.task_id
left join WF_INSTANCE inst on inst.WF_ID=task.wf_id and inst.CURR_TASK_ID=task.task_id
and ins.inst_id = inst.inst_id and inst.WF_STATUS='I'

</select>


	
</mapper>